<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        div.card {
            width: 300px;
            border: 2px solid silver;
            margin: 10px 20px 0 20px;
            padding: 10px;
        }

        div.wrapper {
            display: flex;
        }
    </style>
    <body>
        <div class="card">
            <h1>{{post.title}}</h1>
            <p>{{post.description}}</p>
            <h2>{{post.created_at}}</h2>
            <a href="{% url 'index' %}">На главную</a>
            <a href="{% url 'update_post' post.id %}">Изменить</a>
            <a href="{% url 'delete_post' post.id %}">Удалить</a>
        </div>
    </body>
</html>